/* ===================== Fonts ===================== */
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pelak";
    src: url("Font/Pelak-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ===================== Reset ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pelak", sans-serif;
}

/* ===================== Sections ===================== */
.section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section1 {
    background-image: url("assets/bc1.png");
}

#section2 {
    background-image: url("assets/bc2.png");
}

#section3 {
    background-image: url("assets/bc3.png");
}

#section4 {
    background-image: url("assets/bc4.png");
}
